<!DOCTYPE html>
<html ng-app="app">
	<head>
		<meta charset="utf-8">
		<title>Learning Angular</title>
		<link rel="stylesheet" href="_css/all.css" media="screen" charset="utf-8">
		<base href="/">
		<link rel="stylesheet" href="_css/main.css">
	</head>
	<body style="padding: 0; margin: 0">

		<button ng-click="hide = !hide">schowaj</button>
		
		<page>
			<page-section title="One" style="display: block; height: 100vh; background: #ccc" id="one"></page-section>
			<page-section title="Two" ng-if="hide !== true" style="display: block; height: 100vh; background: #ddd" id="two">
				<p>asd</p>
			</page-section>
		</page>
		<select name="" id="">
			<option value=""></option>
		</select>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.1/angular.js" charset="utf-8"></script>
		<script src="_js/all.js" charset="utf-8"></script>
	</body>
</html>
