.page-navigation {
	position: fixed;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	background: magenta;

	li {
		cursor: pointer;

		&.-active {
			font-weight: bold;
		}
	}
}

.page-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	line-height: 40px;
	background: magenta;
	color: white;
	text-align: center;
}
