
.page-navigation {
  position: fixed;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: magenta;
}

.page-navigation li {
  cursor: pointer;
}

.page-navigation li.-active {
  font-weight: bold;
}

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 40px;
  background: magenta;
  color: white;
  text-align: center;
}